version: '3.8'

services:
  mysql_forms_creation:
      container_name: mysql_forms_creation
      image: mysql:5.7
      restart: on-failure
      environment:
        MYSQL_ROOT_PASSWORD: secret
        MYSQL_DATABASE: forms_db
        MYSQL_USER: user
        MYSQL_PASSWORD: symfony
      ports:
        - '4306:3306'
      volumes:
        - ./mysql:/var/lib/mysql
  php_forms_creation:
    container_name: php_forms_creation
    build: 
      context: ./php
    ports: 
      - '9000:9000'
    volumes: 
      - ./app:/var/www/php_forms_creation
    depends_on: 
      - mysql_forms_creation
  nginx_froms_creation:
    container_name: nginx_froms_creation
    image: nginx:latest
    ports: 
      - '8080:80'
    volumes: 
      - ./app:/var/www/php_forms_creation
      - ./logs/nginx:/var/log/nginx
      - ./ngnix/default.conf:/etc/nginx/conf.d/default.conf
    depends_on: 
      - php_forms_creation
      - mysql_forms_creation