version: '3.8'

services:
  mysql_forms_creation:
      container_name: mysql_forms_creation
      image: mysql:5.7
      restart: on-failure
      environment:
        MYSQL_ROOT_PASSWORD: secret
        MYSQL_DATABASE: forms_db
        MYSQL_USER: user
        MYSQL_PASSWORD: symfony
      ports:
        - '4306:3306'
      volumes:
        - ./mysql:/var/lib/mysql
  php_forms_creation:
    container_name: php_forms_creation
    build: 
      context: ./php
    ports: 
      - '9000:9000'
    volumes: 
      - ../app:/var/www/php_forms_creation
    depends_on: 
      - mysql_forms_creation
  nginx_froms_creation:
    container_name: nginx_froms_creation
    image: nginx:latest
    ports: 
      - '8080:80'
    volumes: 
      - ../app:/var/www/php_forms_creation
      - ./logs/nginx:/var/log/nginx
      - ./ngnix/default.conf:/etc/nginx/conf.d/default.conf
    depends_on: 
      - php_forms_creation
      - mysql_forms_creation
  mercure_forms_creation:
    container_name: mercure_forms_creation
    image: dunglas/mercure:latest
    restart: unless-stopped
    environment:
      SERVER_NAME: ":80"
      MERCURE_PUBLISHER_JWT_KEY: ${MERCURE_JWT_SECRET}
      MERCURE_SUBSCRIBER_JWT_KEY: ${MERCURE_JWT_SECRET}
      ALLOW_ANONYMOUS: 1
      CORS_ALLOWED_ORIGINS: "*"
      PUBLISH_ALLOWED_ORIGINS: "*"
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins *
        anonymous
    ports:
    - "10000:80"
    expose:
    - "80"